html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #110637;
}
.container{
    background: #110637;
    width: 400px;
    height: 800px;
    margin: 0 auto;
}
.log-out{
    padding-top: 10px;
    padding-left: 10px;
}
.logo{
    width: 70px;
    margin-top: 100px;
    margin-left: 160px;
    margin-bottom: 80px;
}
.inputs{
    /* margin-left: 100px;  */
    width: 360px;
    margin: 0 auto;
}
.inputs input{
    width: 95%;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    background: #110637;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}
.inputs button{
    width: 98%;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    background: rgb(61, 61, 255);
    border: none;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}
.inputs a{
    font-size: 20px;
    color: white;
    margin-left: 120px;
}
.Create{
    width: 89%;
    height: 50px;
    margin-left: 20px;
    border-radius: 50px;
    color: rgb(61, 61, 255);
    font-size: 20px;
    background: #110637;
    border: 3px solid rgb(61, 61, 255);
    cursor: pointer;
    margin-top: 130px;
}
.prank{
    color: white;
    text-align: center;
    font-size: 20px;
}
.resultText{
    color: white;
    text-align: center;
    font-size: 20px;
}
